@import url('https://fonts.googleapis.com/css?family=Roboto');

.auto-suggest {
  position: relative;
}

.auto-suggest input {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

.auto-suggest .suggestions {
  border: 1px solid #f1f1f1;
  background-color: white;

  position: absolute;
  width: 100%;
  z-index: 1;
}

.auto-suggest .suggestions .option {
  font-size: 16px;
  text-align: left;

  padding: 5px;
  padding-left: 10px;

  cursor: pointer;
}

.auto-suggest .suggestions .option.focused {
  background-color: #f1f1f1;
}
